@font-face {
	font-family: 'RedHatText';
	src: url('../assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'RedHatText';
	src: url('../assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RedHatText';
	src: url('../assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'RedHatText';
	src: url('../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'RedHatText';
	src: url('../assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: bold;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: 'RedHatText', sans-serif;
	background-color: rgb(49, 49, 49);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1440px;
}

.page-wrapper {
	display: grid;
	grid-template-columns: 1fr 0.4fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
	height: 100%;
	padding: 150px;
	background-color: rgb(105, 106, 107);
}

.products-area,
.cart-area {
	position: relative;
	height: 100%;
	background-color: #fcf8f5;
}

.cart-card {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px auto;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
	height: 500px;
	/* background-color: rgb(255, 255, 255); */
    background-color: rgb(82, 82, 82);
	color: rgb(0, 0, 0);
	padding: 25px;
}

.cart-name {
	font-size: 28px;
	font-weight: 600;
	color: hsl(14, 65%, 48%);
}
